form {
  .form-row+.form-row {
    margin-top: 10px;
  }

  .form-row {
    display: flex;
    min-height: 21px;

    div {
      display: flex;

      label {
        display: inline-block;
        overflow: hidden;
        height: 21px;
        white-space: nowrap;
        line-height: 21px;
      }

      label + * {
        margin-left: 5px;
      }

      input:invalid {
        border: 1px solid red;
      }
    }

    div + div {
      margin-left: 5px;
    }
  }
}
